In [2]:
import pandas as pd

# Code Louisville Final Project

## Investigating The Correlation Between Violence and Greenery/Green Space in Louisville, Ky Neighborhoods

In [26]:
urban_heat_df = pd.read_csv('data/Louisville_Metro_KY_-_Urban_Heat_Island_Neighborhood_Data.csv', index_col='ObjectId')
urban_heat_df

,Neighborhood,Total_New_Green_Roofs,Total_Grass_Planted__Hectares_,Total_Trees_Planted,Total_Cool_Paving__Hectacres_,Total_New_Cool_Roofs,ZIP_CODE
ObjectId,,,,,,,
1,Hurstbourne Acres,0,7,1481,54,99,40220.0
2,Industrial East,0,9,3148,62,588,NaN
3,Industrial West,10,66,3974,177,494,NaN
4,Irish Hill,10,4,1464,30,73,40204.0
5,Iroquois,2,4,808,15,10,40214.0
...,...,...,...,...,...,...,...
127,Hills And Dales,0,1,60,3,0,40241.0
128,Hollow Creek,0,7,502,19,9,40228.0
129,Hollyvilla,0,3,144,10,9,40118.0
130,Houston Acres,0,1,37,1,1,40220.0
131,Hurstbourne,0,18,3832,93,66,40222.0

In [17]:
# Check for null values
urban_heat_df.isna().sum()

Neighborhood                      0
Total_New_Green_Roofs             0
Total_Grass_Planted__Hectares_    0
Total_Trees_Planted               0
Total_Cool_Paving__Hectacres_     0
Total_New_Cool_Roofs              0
ZIP_CODE                          3
dtype: int64

In [34]:
# Drop all of the rows with null values
urban_heat_df = urban_heat_df.dropna()
urban_heat_df

,Neighborhood,Total_New_Green_Roofs,Total_Grass_Planted__Hectares_,Total_Trees_Planted,Total_Cool_Paving__Hectacres_,Total_New_Cool_Roofs,ZIP_CODE
ObjectId,,,,,,,
1,Hurstbourne Acres,0,7,1481,54,99,40220.0
4,Irish Hill,10,4,1464,30,73,40204.0
5,Iroquois,2,4,808,15,10,40214.0
6,Iroquois Park,0,6,1016,29,9,40214.0
7,Jacobs,0,10,1787,52,58,40215.0
...,...,...,...,...,...,...,...
127,Hills And Dales,0,1,60,3,0,40241.0
128,Hollow Creek,0,7,502,19,9,40228.0
129,Hollyvilla,0,3,144,10,9,40118.0
130,Houston Acres,0,1,37,1,1,40220.0
131,Hurstbourne,0,18,3832,93,66,40222.0

In [36]:
# Drop the columns that are not needed
urban_heat_df_cleaned = urban_heat_df.drop(columns=["Total_Cool_Paving__Hectacres_", "Total_New_Cool_Roofs"])
# Changed the zip_code column to integers
urban_heat_df_cleaned["ZIP_CODE"] = urban_heat_df_cleaned["ZIP_CODE"].astype(int)
urban_heat_df_cleaned

,Neighborhood,Total_New_Green_Roofs,Total_Grass_Planted__Hectares_,Total_Trees_Planted,ZIP_CODE
ObjectId,,,,,
1,Hurstbourne Acres,0,7,1481,40220
4,Irish Hill,10,4,1464,40204
5,Iroquois,2,4,808,40214
6,Iroquois Park,0,6,1016,40214
7,Jacobs,0,10,1787,40215
...,...,...,...,...,...
127,Hills And Dales,0,1,60,40241
128,Hollow Creek,0,7,502,40228
129,Hollyvilla,0,3,144,40118
130,Houston Acres,0,1,37,40220
131,Hurstbourne,0,18,3832,40222

In [21]:
crime_data_df = pd.read_csv('data/Louisville_Metro_KY_-_Crime_Data_2022.csv', index_col="ObjectId", low_memory=False)
crime_data_df

,INCIDENT_NUMBER,DATE_REPORTED,DATE_OCCURED,BADGE_ID,CRIME_TYPE,UOR_DESC,NIBRS_CODE,UCR_HIERARCHY,ATT_COMP,LMPD_DIVISION,LMPD_BEAT,PREMISE_TYPE,BLOCK_ADDRESS,City,ZIP_CODE
ObjectId,,,,,,,,,,,,,,,
1,80-22-000334,2022/01/02 16:49:00,2022/01/02 15:49:00,5276,DRUGS/ALCOHOL VIOLATIONS,POSS CONT SUB-1ST DEGREE-1ST OFFENSE-HEROIN,35A,PART II,COMPLETED,6TH DIVISION,625,RESTAURANT,3400 BLOCK BARDSTOWN RD ...,LOUISVILLE,40218
2,80-22-000333,2022/01/02 18:14:00,2022/01/02 18:00:00,5363,BURGLARY,BURGLARY - 2ND DEGREE,220,PART I,COMPLETED,6TH DIVISION,624,OTHER RESIDENCE (APARTMENT/CONDO),4300 BLOCK NEWPORT RD ...,LOUISVILLE,40218
3,80-22-000335,2022/01/02 18:37:00,2022/01/01 21:00:00,8063,THEFT/LARCENY,TBUT OR DISP FIREARM,23H,PART I,COMPLETED,4TH DIVISION,424,HIGHWAY / ROAD / ALLEY,4000 BLOCK SOUTHERN PKY ...,LOUISVILLE,40214
4,80-22-000336,2022/01/02 18:31:00,2022/01/02 18:14:00,7381,OTHER,DOMESTIC ABUSE DUTIES OF LAW ENFORCEMENT,90Z,PART II,COMPLETED,2ND DIVISION,223,OTHER RESIDENCE (APARTMENT/CONDO),1400 BLOCK BEECH ST ...,LOUISVILLE,40211
5,80-22-000338,2022/01/02 18:51:00,2022/01/02 18:20:00,8063,THEFT/LARCENY,"TBUT OR DISP SHOPLIFTING $500 < $1,000",23C,PART I,COMPLETED,3RD DIVISION,323,DEPARTMENT / DISCOUNT STORE,100 BLOCK OUTER LOOP ...,LOUISVILLE,40214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71502,80-23-500158,2022/12/24 10:15:00,2022/12/24 09:36:00,8375,THEFT/LARCENY,TBUT OR DISP SHOPLIFTING,23C,PART I,COMPLETED,3RD DIVISION,331,DRUG STORE/DR`S OFFICE/HOSPITAL,4900 BLOCK CANE RUN RD ...,LOUISVILLE,40216
71503,80-23-500159,2022/12/24 15:38:00,2022/12/20 09:00:00,8375,THEFT/LARCENY,THEFT OF MAIL MATTER,23H,PART I,COMPLETED,1ST DIVISION,134,HOTEL / MOTEL / ETC.,100 BLOCK E WASHINGTON ST ...,LOUISVILLE,40202
71504,80-23-500160,2022/12/25 14:06:00,2022/12/25 09:00:00,8375,VANDALISM,CRIMINAL MISCHIEF-3RD DEGREE,290,PART II,COMPLETED,1ST DIVISION,112,RESIDENCE / HOME,600 BLOCK DR W J HODGE ST ...,LOUISVILLE,40203
71505,80-23-500160,2022/12/25 14:06:00,2022/12/25 09:00:00,8375,MOTOR VEHICLE THEFT,TBUT OR DISP AUTO,240,PART I,ATTEMPTED,1ST DIVISION,112,RESIDENCE / HOME,600 BLOCK DR W J HODGE ST ...,LOUISVILLE,40203
71506,80-23-500161,2022/12/25 21:11:00,2020/12/25 21:10:00,8375,FRAUD,THEFT OF IDENTITY OF ANOTHER WITHOUT CONSENT,26C,PART II,COMPLETED,2ND DIVISION,236,OTHER / UNKNOWN,4300 BLOCK TOPAZ CT ...,LOUISVILLE,40216

In [22]:
# Drop all of the unnecessary columns
crime_data_df = crime_data_df.drop(columns=["INCIDENT_NUMBER", "DATE_REPORTED", "DATE_OCCURED", "BADGE_ID", "UOR_DESC", "NIBRS_CODE", "UCR_HIERARCHY", "ATT_COMP", "LMPD_DIVISION", "LMPD_BEAT", "PREMISE_TYPE", "BLOCK_ADDRESS", "City"])
crime_data_df

                        CRIME_TYPE ZIP_CODE
ObjectId
1         DRUGS/ALCOHOL VIOLATIONS    40218
2                         BURGLARY    40218
3                    THEFT/LARCENY    40214
4                            OTHER    40211
5                    THEFT/LARCENY    40214
...                            ...      ...
71502                THEFT/LARCENY    40216
71503                THEFT/LARCENY    40202
71504                    VANDALISM    40203
71505          MOTOR VEHICLE THEFT    40203
71506                        FRAUD    40216

[71506 rows x 2 columns]

In [23]:
# Check for null values
crime_data_df.isna().sum()

CRIME_TYPE     0
ZIP_CODE      31
dtype: int64

In [24]:
# Drop all of the rows with null values
crime_data_df_cleaned = crime_data_df.dropna()
crime_data_df_cleaned

                        CRIME_TYPE ZIP_CODE
ObjectId
1         DRUGS/ALCOHOL VIOLATIONS    40218
2                         BURGLARY    40218
3                    THEFT/LARCENY    40214
4                            OTHER    40211
5                    THEFT/LARCENY    40214
...                            ...      ...
71502                THEFT/LARCENY    40216
71503                THEFT/LARCENY    40202
71504                    VANDALISM    40203
71505          MOTOR VEHICLE THEFT    40203
71506                        FRAUD    40216

[71475 rows x 2 columns]